*.class
*.o
*.pyc
*.swp
*.exe
*.stackdump
.DS_Store
java_cpp/jars/
java_cpp/bin/
java_cpp/thirdparty/
java_cpp/src/javacpp/target/
algorithm/tfidf/data/
algorithm/lda/data/
algorithm/decisiontree/models/
algorithm/decisiontree/data/
nodejs/
jupyter/*_checkpoints*
jupyter/*/*_checkpoints*
mvc_learn/out
mvc_learn/.idea
mvc_learn/target
