*.class
*.o
*.pyc
*.swp
*.exe
*.stackdump
java_cpp/jars/
java_cpp/bin/
java_cpp/thirdparty/
java_cpp/src/javacpp/target/
algorithm/tfidf/data/
algorithm/lda/data/
algorithm/decisiontree/models/
algorithm/decisiontree/data/
nodejs/
